<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="article_title">
                What do you know about space and our solar system in particular?
            </h1>
            <ul class="article_content">
                <li>
                    <h2 class="about_solar">The order of the planets in the solar system, starting nearest the sun and working outward is the following: Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune and then the possible Planet Nine.</h2>
                </li>
                <li>
                    <h2 class="about_solar">Ever since the discovery of Pluto in 1930, kids grew up learning that the solar system has nine planets. That all changed in the late 1990s when astronomers started arguing about whether Pluto was indeed a planet. In a highly controversial decision, the International Astronomical Union ultimately decided in 2006 to designate Pluto as a "dwarf planet," reducing the list of the solar system's true planets to just eight.</h2>
                </li>
                <li>
                    <h2 class="about_solar">If you insist on including Pluto, it would come after Neptune on the list. Pluto is truly way out there and on a wildly tilted, elliptical orbit (two of the several reasons it was demoted). </h2>
                </li>
                <li>
                    <h2 class="about_solar">Astronomers, however, are still hunting for another possible planet in our solar system, a true ninth planet, after mathematical evidence of its existence was revealed on Jan. 20, 2016. The alleged "Planet Nine," also called "Planet X," is believed to be about 10 times the mass of Earth and 5,000 times the mass of Pluto. </h2>
                </li>
            </ul>
            <h1 class="article_title">
                The planets: the many worlds of our solar system.
            </h1>
            <ul class="article_content">
                <li>
                    <h2 class="about_solar">
                        The inner four planets closest to the sun — Mercury, Venus, Earth and Mars — are often called the "terrestrial planets" because their surfaces are rocky. Pluto also has a rocky, albeit frozen, surface but has never been grouped with the four terrestrials.
                    </h2>
                </li>
                <li>
                    <h2 class="about_solar">
                        The four large outer worlds — Jupiter, Saturn, Uranus and Neptune — are sometimes called the Jovian or "Jupiter-like" planets because of their enormous size relative to the terrestrial planets. They're also mostly made of gases like hydrogen, helium and ammonia rather than of rocky surfaces, although astronomers believe some or all of them may have solid cores. Jupiter and Saturn are sometimes called the gas giants, whereas the more distant Uranus and Neptune have been nicknamed the ice giants. This is because Uranus and Neptune have more atmospheric water and other ice-forming molecules, such as methane, hydrogen sulfide and phosphene, that crystallize into clouds in the planets' frigid conditions, according to the Planetary Society. For perspective, methane crystallizes at minus 296 Fahrenheit (minus 183 degrees Celsius), according to the U.S. National Library of Medicine. 
                    </h2>
                </li>
            </ul>
            <h1 class="article_title">
                What is (and isn't) a planet?
            </h1>
            <ul class="article_content">
                <li>
                    <h2 class="about_solar">
                        The IAU defines a true planet as a body that circles the sun without being some other object's satellite; is large enough to be rounded by its own gravity (but not so big that it begins to undergo nuclear fusion, like a star); and has "cleared its neighborhood" of most other orbiting bodies. Yeah, it's a mouthful.
                    </h2>
                </li>
                <li>
                    <h2 class="about_solar">
                        But that restrictive definition helped isolate what should and should not be considered a planet — a problem that arose as astronomers discovered more and more planet-like objects in the solar system. Pluto was among the bodies that didn't make the cut and was re-classified as a dwarf planet. 
                    </h2>
                </li>
                <li>
                    <h2 class="about_solar">
                        The problem with Pluto, aside from its small size and offbeat orbit, is that it doesn't clear its neighborhood of debris — it shares its space with lots of other objects in the Kuiper Belt. Still, the demotion of Pluto remains controversial. The IAU planet definition also put other small, round worlds into the dwarf planet category, including the Kuiper Belt objects Eris, Haumea and Makemake. 
                    </h2>
                </li>
                <li>
                    <h2 class="about_solar">
                        Ceres, a round object in the Asteroid Belt between Mars and Jupiter, also got the boot. Ceres was considered a planet when it was discovered in 1801, but it was later deemed to be an asteroid. That still didn't quite fit because it was so much larger (and rounder) than the other asteroids. Astronomers instead deemed it a dwarf planet in 2006, although some astronomers like to consider Ceres as a 10th planet (not to be confused with Nibiru or Planet X). 
                    </h2>
                </li>
                <li>
                    <h2 class="about_solar">
                        Below is a brief overview of the eight true planets in our solar system, moving from that closest to the sun to farthest from the sun:
                    </h2>
                </li>
            </ul>
        </div>
        <div class="solar_list">
            <h1 class="planet_heading">
                Mercury
            </h1>
            <img src="img/01_mercury.png" alt="mercury" class="planet_img"/>
        </div>
    </div>
</body>
</html>